* {
    box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue","Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  background: #fff;
line-height: 1.6em;
    overflow-x: hidden;
}

.main-text {
  text-align: justify;
}

h2 {
    margin-top: -30px;
    padding-top: 30px;
  text-align: right;
  margin-bottom: 0;
  padding-bottom: 0.3em;
  position: relative;
}

.h2-asterisk {
    display: none;
}

.first {
    margin-top: -30px;
    padding-top: 30px;
}

main {
  margin: 0 auto;
  width: 90%;
  text-align: right;
}

p {
  margin-top: 0.5em;
  text-indent: 1.6em;
}

header {
  margin: 0 auto 10px auto;
    padding-top: 40px;
    padding-right: 5%;
    padding-left: 5%;
}

footer {
    margin-top: 100px;
    text-align: right;
    font-size: .8em;
    font-weight: bold;
    padding-right: 5%;
    
}

footer p {
    text-indent: 0;
}

footer i {
    color: #fe9f97;
}

.fixed-nav {
    position: fixed;
    top 0;
    left 0;
    right: 0;
    padding: 4px 0 0 0;
    width: 100%;
    background: rgba(255, 255, 255, .95);
    z-index: 1000;
    text-align: right;
}

.nav-container a {
    position: relative;
}

.asterisk {
    height: 10px;
    position: absolute;
    left: -13px;
    top: -2px;
    display: none;
}

.img-nav {
    height: 20px;
    margin: 0 0px;
    margin-right: 5%
}

figure {
    margin: 0;
    transition: all 0.15s;
}

figure:hover, figure:focus {
    transform: scale(1.05);
}

.arrow {
    transition: all 0.15s;
}

figure:hover .arrow, figure:focus .arrow {
    transform: rotate(-90deg);
}

figcaption {
    font-size: 18px;
    font-weight: bold;
    margin-top: -8px;
    margin-bottom: 10px;
}

@media (min-width: 440px) {
    .logo {
        width: 400px;
        margin-right: 0;
    }
    
    .main-text {
        width: 340px;
        margin-left: auto;
    }
    
    .square-img {
        width: 340px;
    }
    
    .thumbnail {
        width: 340px;
    }
    
    @keyframes throb {
        0% {
            color: #fe9f97;
        }
        
        100% {
            color: #f4544d;
            transform: scale(1.1);
            transform: 
        }
    }
    
    .heart { /* there is a shorthand for this */
        animation-name: throb;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
    }
    
}

@media (min-width: 769px) {
    
    .fixed-nav {
        left: 0;
        right: 0;
        margin: 0;
        padding: 6px 0 0 0;
    }
    
    .img-nav {
        margin-left: 20px;
    }
    
    header {
        padding-top: 50px;
    }
    
    .logo {
        width: 770px;
    }
    
    .container {
        width: 770px;
        margin: 0 auto;
    }
        
    .nav-container {
        width: 760px;
        margin: 0 auto;
    }
    
    .asterisk {
        left: 0;
        height: 15px;
    }
    
    .nav-container a:hover .asterisk,
    .nav-container a:focus .asterisk{
        display: inline;
    }
    
    .h2-asterisk {
        position: absolute;
        height: 20px;
        display: inline;
        left: 100%;
        padding-left: 10px;
        padding-top: 3px;
    }
    
    .square-img {
      float: left;
      width: 340px;
    }
    
    .first {
        padding-top: 40px;
        margin-top: 0;
    }
    
    .work {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    
    footer {
        padding: 0;
    margin-top: 150px;
    text-align: center;
}
    
}